include LICENSE
include README.md

# sphincsplus files
recursive-include src/sphincsplus *.h
recursive-include src/sphincsplus *.c
recursive-include src/sphincsplus LICENSE
recursive-include src/sphincsplus README.md

# test files
recursive-include tests *.py
